# Dependencies
node_modules

# JetBrains IDEs
.idea

# Ignore all images
*.png
*.jpg
*.jpeg
*.webp

# yarn error logs
yarn-error.log

# Environment varibales
# .env*
# !.env*.example

# Code coverage
coverage

# Static files
public
